*{
    margin: 0;
    padding: 0;
}
article{
    border: 1px solid gray;
    margin: 50px 100px;
    padding: 50px 40px 50px 100px;
}
h1, p{
    padding-top: 15px;    
}
h1{
    text-align: center;
}
.author{
    text-align: right;
}
span{
    border: 1px solid black;
    margin-right: 2px;
    padding: 2px;
    background-color: gray;
}
.ab{
    background-color: green;
}